[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aiohttp = '==3.6.2'
environ-config = "==20.1.0"
aioboto3 = "==8.0.3"
motor = "==2.1.0"

[requires]
python_version = "3.8.2"
